<!-- 
  This template gets placed in the Pet tab's <ion-nav-view> directive.
  It was wired up in the app config (app.js) 
  The 'pets' data comes from its $scope within PetIndexCtrl (controller.js)
-->
<ion-view title="Pet Information">
  <ion-content>
  <div class="row">
    <div class="col"></div>
    <div class="col col-90">
    <ion-list>

      <ion-item class="item-icon-right" ng-repeat="pet in pets" type="item-text-wrap">
        <h3>{{pet.name}}</h3>
        <p>{{pet.timeStart}} - {{pet.timeEnd}} <span class="stage">{{pet.stage}}</span></p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      
    </ion-list>
  </div>
    <div class="col"></div>
   </div>
  </ion-content>
</ion-view>
